<footer class="footer">
	<div class="container footer__container flex">
		{{ partial "footer_links.html" . }}
		<div class="footer__copyright">
			&copy; {{ now.Format "2006" }} {{ .Site.Params.copyright | default .Site.Title }}.
			<span class="footer__copyright-credits">{{ T "footer_credits" | safeHTML }}</span>
		</div>
		<a title="GDPR-compliant Web Analytics" href="https://clicky.com/101447262"><img alt="Clicky" src="//static.getclicky.com/media/links/badge.gif" border="0" /></a>
		<script async data-id="101447262" src="//static.getclicky.com/js"></script>
	</div>
</footer>